.Filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Filters h2 {
    font-size: 2rem;
    text-align: center;
}

.Filters p {
    padding: 0;
    margin: 0;
}

.TextField {
    display: flex;
}

.FilterButton {
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px; 
    padding-right: 25px;
    margin-top: 40px;
}