:root {
  --primary-color: #116644;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floating-button {
  position: absolute;
  bottom: 12vh;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #005533;
}

.map {
  z-index: 0;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  background-color: #BBFFEE;
}

.nav-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #f0f0f0; /* Altere a cor de fundo ao passar o mouse */
  text-decoration: underline; /* Adicione sublinhado ao texto */
}

.nav-item svg {
  max-height: 80%;
  width: auto;
  color: var(--primary-color);
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  width: 100%;
}

.button-grey {
  background-color: #454545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.create_alert {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}

.link {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

.create_alert-lat_long_div {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.create_alert-button_div {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.create_alert-button_div-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  width: 100%;
}

.create_alert-button_div-button_gray {
  background-color: #454545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  width: 100%;
}

.select-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  font-size: 15px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
}

.login-button:hover {
  background-color: #0056b3;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.profile-edit_button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  width: 100%;
  position: absolute;
  bottom: 10vh;
  height: 5vh;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.user-alerts {
  background-color: #f0f0f0;
  border: 2px solid var(--primary-color);
  margin: 20px;
  /* padding: 20px; */
  border-radius: 5px;
  /* flex-grow: 1; Permite que o contêiner cresça para preencher o espaço disponível */
  overflow-y: auto; /* Adicione barra de rolagem vertical */
}

.user-alerts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-alerts li {
  background-color: white;
  /* margin-bottom: 10px; */
  padding: 10px;
  /* border-radius: 5px; */
  /* border: 1px solid #eee; */
  transition: background-color 0.3s ease;
}

.user-alerts li:hover {
  background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.user-alerts li + li {
  border-top: 1px solid #ccc; /*Linha entre os alertas*/ 
}